.contenedor_contenido .wrapper {
	height: 520px;
	margin-bottom: 20px;
}

.menu .funciones {
	padding: 6px 8px;
}

.desactivar_plato .wrapper h5{
	display: block;
	text-align: center;
}
.desactivar_plato span{
	font-size: 17px;
}

select.activos, select.inactivos{
	width: 75%;
	margin-left: 35px;
	height: 360px;
}

#dashboard #control1{
	text-align: center;
	margin-bottom: 42px;
}
#chart1, #chart2{
	float: left;
	margin-left: 20px;
} 
#chart1{
	width: 218px;
	height: 234px;
	
}


/* Large desktop */
@media (min-width: 1200px) {	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 999px) {
	select.activos, select.inactivos {
		width: 80%;
		margin-left: 31px;
	}
	.desactivar_plato .col-md-6{
		padding: 0;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {	
	.adicional .wrapper{
		height: 360px;
	}
	select.activos, select.inactivos {
		width: 90%;
		margin-left: 5%;
		height: 155px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {	

}