.contenedor_contenido .wrapper {
	height: 520px;
	margin-bottom: 20px;
}

.menu .funciones {
	padding: 6px 8px;
}

.desactivar_plato .wrapper h5{
	display: block;
	text-align: center;
}
.desactivar_plato span{
	font-size: 17px;
}

select.activos, select.inactivos{
	width: 75%;
	margin-left: 35px;
	height: 360px;
}
select.activos option, select.inactivos option{
	cursor: pointer;
}


/* Large desktop */
@media (min-width: 1200px) {	
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 999px) {
		
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {	
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) {	

}